.home {
	max-width: 1050px;
	margin: 0 auto;
	padding: 0 15px;
}

.home section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 60px;
}

.section_title {
	font-size: 20px;
	font-weight: 600;
	color: #444444;
}

.lives {
	gap: 30px;
}

.lives_items {
	display: flex;
	gap: 33px;
	flex-wrap: wrap;
	justify-content: center;
}

.lives_item {
	height: 100px;
	width: 100px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 4px rgb(0, 0, 0, 0.25);
	border-radius: 5px;
	background: url('../../img/home/lives-heart.svg') 50% 53% no-repeat;
}

.lives_item img {
	margin-top: 3px;
}

.lives_item:last-child .lives_price {
	margin-top: -16px;
}

.lives_quantity {
	padding: 40px 40px 40px 40px;
	color: #fff;
	font-weight: 600;
	font-size: 20px;
	align-self: center;
}

.lives_price {
	align-self: flex-end;
	margin: -22px 8px 0 0;
	color: #9D9D9D;
}

.perks_items {
	display: flex;
	width: 100%;
	margin-top: 60px;
	justify-content: space-evenly;
}

.perks_slider {
	width: 100%;
	justify-content: space-evenly;
}

.perks_item img {
	justify-content: space-evenly;
}

.nextButton {
	margin-right: 50px;
}